<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>SyncProductPriceJob</name>
      <group>DefaultJobGroup</group>
      <description>同步商铺商品价格</description>
      <job-type>Tuhu.C.SyncProductPriceJob.Job.SyncProductPriceJob, Tuhu.C.SyncProductPriceJob</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SyncProductPriceJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SyncProductPriceJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>3 6 5 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>SyncRemainingsPriceJob</name>
      <group>DefaultJobGroup</group>
      <description>同步商铺商品价格</description>
      <job-type>Tuhu.C.SyncProductPriceJob.Job.SyncRemainingsPriceJob, Tuhu.C.SyncProductPriceJob</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SyncProductPriceJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SyncRemainingsPriceJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>3 14 1 * * ?</cron-expression>
      </cron>
    </trigger>

    <job>
      <name>HotProductMonitor</name>
      <group>DefaultJobGroup</group>
      <description>监控热销商品的价格变动</description>
      <job-type>Tuhu.C.SyncProductPriceJob.Job.HotProductMonitor, Tuhu.C.SyncProductPriceJob</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>HotProductMonitorTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>HotProductMonitor</job-name>
        <job-group>DefaultJobGroup</job-group>
        <!--cron-expression(秒 分 时 日 月 星期 年) http://www.cnblogs.com/lzrabbit/archive/2012/04/14/2371420.html -->
        <cron-expression>20 12 8-22 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>
