<?xml version="1.0" encoding="UTF-8"?>
<job-scheduling-data xmlns="http://quartznet.sourceforge.net/JobSchedulingData" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.0">
  <processing-directives>
    <overwrite-existing-data>true</overwrite-existing-data>
  </processing-directives>
  <schedule>
    <job>
      <name>SyncProxyJob</name>
      <group>DefaultJobGroup</group>
      <description>抓取代理</description>
      <job-type>ProxyCrawler.Job.SyncProxyJob, ProxyCrawler</job-type>
      <durable>true</durable>
      <recover>false</recover>
    </job>
    <trigger>
      <cron>
        <name>SyncProxyJobTrigger</name>
        <group>DefaultTriggerGroup</group>
        <job-name>SyncProxyJob</job-name>
        <job-group>DefaultJobGroup</job-group>
        <cron-expression>3 14 5/2 * * ?</cron-expression>
      </cron>
    </trigger>
  </schedule>
</job-scheduling-data>